.articles-container {
  /*width: 500px;*/
  /*margin-top: 1%;*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.article {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.source-wrapper {
  display: flex;
  flex-direction: column;
  left: 0;
  width: 100px;
}

.source-wrapper * {
  margin-left: auto;
  margin-right: auto;
}

.source-wrapper .article-source {
  text-align: center;
}

.article-image {
  height: 100%;
  width: 180px;
}

.article-title {
  width: 40%;
}


/*.article-thumb {
  height: 40px;
  width: 40px;
}*/

.logos {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-wrapper {
  height: 300px;
  width: 300px;
}

.logo-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.article-thumb img {
  max-height: 100%;
  max-width: 100%;
}

.article-info {
  width: 40%;
  overflow-wrap: normal;
  flex-basis: 90%;
  margin-left: 3%;
  margin-right: 3%;
}

.article-image img {
  max-height: 100%;
  max-width: 100%;
}


/*.article-info {
  display: flex;
  flex-wrap: wrap;
}*/
