.container-fluid {
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-align: justify;
}

.col-xs-8 {
  display: flex;
  justify-content: space-between;
}

.jumbotron {
  height: 800px;
  background-image: url("http://iliketowastemytime.com/sites/default/files/night-sky-hd-wallpaper.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.marketing-box {
  display: inline-block;
  height: 100%;
  width: 30%;
  background-color: purple;
}
