<app-navbar></app-navbar>

<div class="jumbotron">
  <h1>DiSPATCH</h1>
  <p>Interactive Global News</p>
  <a class="btn btn-primary btn-lg" href="/explore" role="button">Start Exploring</a>

</div>

<div class="container">

  <!-- MARKETING BOXES -->
  <div class="row">

  <!-- IDEA: Use col-md and col-lg for desktop and tablets as well.  Col-xs doesn't stack/wrap if page shrinks -->

  <div class="col-sm-4">
    <div class="marketing-box">
        <h2>Interactive Map</h2>
        <hr>
        <p>Engage a global, clickable map that returns breaking political news from around the world.</p>
      </div>
  </div>

  <div class="col-sm-4">
    <div class="marketing-box">
        <h2>Combine Countries</h2>
        <hr>
        <p>Choose one or more countries to see articles that involve each country selected.</p>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="marketing-box">
        <h2>Explore Global News</h2>
        <hr>
        <p>Explore global news and stay informed on current events.</p>
      </div>
  </div>


    </div>

<hr>

<!-- API LOGOS -->
  <div class="row">

    <div class="col-sm-4">
      <a href="https://www.amcharts.com" target="_blank">
        <div class="logo-wrapper"><img src="{{amChartsLogo}}" alt="amCharts"></div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://www.eventregistry.org" target="_blank">
        <div class="logo-wrapper"><img src="{{eventRegistryLogo}}" alt="Event Registry"></div>
      </a>
    </div>
    <div class="col-sm-4">
        <div class="logo-wrapper">
          <div id="newsApiLogo">
            <a href="https://newsapi.org" target="_blank">
              <img src="{{newsApiLogo}}" alt="News API">
            </a>
              <span><b>NEWS API</b></span>
          </div>
        </div>
    </div>

  </div>

</div>

<!-- FOOTER -->
<div class="row">
  <div class="footer">

  </div>
</div>
