.container-fluid {
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-align: justify;
}




.marketing-box {
  display: inline-block;
  height: 100%;
  width: 100%;
  /*background-color: purple;*/
}

.marketing-box h2 {
  text-align: center;
}
