<app-navbar></app-navbar>

<div class="jumbotron">
  <h1>DISPATCH</h1>
  <p>Interactive Global News</p>
</div>

<div class="container-fluid">
  <div class="row">

  <!-- IDEA: Use col-md and col-lg for desktop and tablets as well.  Col-xs doesn't stack/wrap if page shrinks -->

  <div class="col-sm-2"></div>

  <div class="col-sm-4">
    <div class="marketing-box">
        <h2>Search One or More Countries</h2>
        <hr>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="marketing-box">
        <h2>Explore Global Politics</h2>
        <hr>
      </div>
  </div>

  <div class="col-sm-2"></div>

    </div>
  </div>
