.container-fluid {
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-align: justify;
}

.jumbotron {
  text-align: center;
  height: 800px;
  color: white;
  background-image: url("https://i.imgur.com/723QP.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron > p {
  margin-top: 1%;
}

.jumbotron > a {
  margin-top: 1%;
}

@media all and (max-width: 700px) {
    .jumbotron
    {
        height: 600px;
    }
}


.marketing-box {
  display: inline-block;
  height: 100%;
  width: 100%;
  /*background-color: purple;*/
}

.marketing-box h2 {
  text-align: center;
}
