/*NAV*/
.navbar-header .navbar-brand{
  /*color: rgb(97, 100, 206);*/
  color: white;
  font-size: 2.0em;
}

.navbar {
  background-color: #2b2e31;
  height: 100%;
  font-family: 'Exo', sans-serif;
  margin: 0;
}

.navbar-nav > a {
    line-height: 50px;
    float:none;
    display: inline-block;
    margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  height: 190px;
  width: 160px;
  /*background-color: black;
  color: white;*/
  position: absolute;
  margin: auto;
}

.dropdown button {
  /*background-color: #4446ce;*/
  background-color: black;
  color: rgb(163, 163, 179);
  border: .5px solid black;
  float: left;
  margin-top: 9px;
}
