<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="" routerLinkActive="active">DISPATCH</a>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Get Started
      </button>
      <div class="dropdown-menu" data-toggle="dropdown" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item"> Click on the map and search to see the latest news headlines from your selected country.  Choosing two or more countries will provide articles involving events relevant to all selections.  </div>
      </div>
    </div>

    <button class="btn btn-secondary" type="button" name="button" id="about-dispatch">
      <a routerLink="/about" routerLinkActive="active"> About </a>
    </button>


  </div>
</nav>
